{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/font.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
   {% block title  %}
    <title>Document</title>
   {% endblock title  %}
</head>
<body>
    <div class="container-fluid bg-dark">

        <div id="nav" class="row">
            <div class="col-md-2 text-center border-right border-success h-100 mt-5">           
                {% include 'core/nav.html' %}                  
            </div>
            
            <div class="col-md-10 ">
            {% block main %}
            {% endblock main %}
            </div>
        
        </div>

    </div>

    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/popper.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/font.js' %}"></script>
  
</body>
</html>