{% load static %}
<div>
    <img src="{% static 'image/pic.jpg' %}" alt="" width="200px" height="200px" class=" rounded-circle border border-danger mt-5">
    <h3 class="text-danger mt-3 font">Shatish Desai</h3>
    <hr class=" border-light mt-5">
</div>

<nav class="nav-flex-column justify-content-center">
    <a class="nav-link {{home}}" href="{% url 'index' %}">Home</a>
    <a class="nav-link {{tech}}" href="{% url 'tech' %}">Technology</a>
    <a class="nav-link {{skill}}" href="{% url 'skill' %}">Skill</a>
    <a class="nav-link {{about}}" href="{% url 'about' %}">About</a>
    <a class="nav-link {{contact}}" href="{% url 'contact' %}">Contact Me</a>
</nav>